<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeiXinService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WeiXin.Lib.WCF/WeiXinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeiXinService"
                contract="WeiXinService.IWeiXinService" name="BasicHttpBinding_IWeiXinService" />
        </client>
    </system.serviceModel>
</configuration>